.output {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
	margin: 20px 0 0 20px;
}

.card {
    width: 200px;
	margin: 20px;
}

.card-image {
	display: block;
	width: 200px;
	height: 150px;
}

.input-number,
.input-limit {
	width: 180px;
	margin-left: 20px;
}

.btn {
    height: 20px;
}